:root {
    /* Hacker color palette */
    --background: hsl(237, 95%, 8%);
    --primary: hsl(180, 85%, 65%);
    --color: hsl(220, 67%, 33%);
    --dark: hsl(225, 97%, 12%);
    --light: hsl(180, 86%, 92%);

    --transition-duration-focus: 360ms;
    --transition-duration-hover: 360ms;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
    color: var(--primary);
    overflow-x: hidden;
}
input {
    all: unset;
}

.fullscreen-canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    z-index: -4;
}
td {
    align-content: center;
    justify-items: center;
    width: 33%;   
}

button {
    background-color: transparent;
    border: none;
}
button:hover {
    cursor: pointer;
}
 
.top-section {
    /* Not scrollable section */
    background: var(--background);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center {
    text-align: center;
}

/* Frames */
.frame {
    display: inline-block;
    background-color: transparent;
    color: var(--primary);
    margin: 8px;
    padding: 0px;
}
.frame.dark {
    color: var(--color);
}
.frame:hover {
    cursor: pointer;
}
.frame.no-animations:hover {
    cursor: unset;
}
.canvas-frame {
    position: absolute;
    z-index: -1;
}

.profile-picture-frame {
    padding: 0px;
    width: 300px;
}
.frame > p {
    user-select: none;
}

.text-frame > p {
    margin: 8px 12px;
    margin-top: 16px;;
    font-size: large;
}

.framelist {
    display: grid;
    gap: 16px;
    width: 100%;
}

/* Row Column */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    flex: 1;
    display: flex;
    gap: 12px;
    right: 32px;
    left: 32px;
    top: 48px;
    bottom: 32px;
}

.column {
  float: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: antiquewhite; */
}

/* Popup window */
.popup-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 64px;
    z-index: 20;
    pointer-events: none;
}
.popup {
    height: 100%;
    width: 100%;
    margin: 0px;
    position: absolute;
    pointer-events: all;
    display: none;
}
.popup-close-button {
    position: absolute;
    top: 8px;
    right: 6px;
}

.column.divider {
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.column.full-width > * {
    width: 100%;
}

/* Console */
.console {
    height: 30vh;

    /* 20% transparency for console; fallback for older browsers */
    background-color: var(--background);
    background-color: hsl(237 95% 8% / 0.7);
    border: 3px solid var(--dark);

    display: flex;
    flex-direction: column;
}

#console-output {
    flex: 1;
    padding: 8px 14px;

    font-size: large;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
}
#console-output * {
    text-wrap: wrap;
}

#console-output::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent;
}
#console-output::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}
#console-output::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 6px;
}

/* Remove corner background (optional) */
#console-output::-webkit-scrollbar-corner {
    background: transparent;
}

#console-textfield {
    width: 100%;
    height: 40px;
    padding: 2px 8px;

    color: var(--primary);

    background-color: hsla(225, 97%, 12%, 20%);

    border-width: 2px;
    border-color: var(--color);
    border-style: solid none none none;

    transition: all var(--transition-duration-focus);
}
#console-textfield:hover {
    border-width: 3px;
}
#console-textfield:focus {
    border-width: 5px;
}

/* Spinning Earth */
#spinning-earth {
    font-size: x-small;

}

/* Bitcoin websocket */
#bitcoin-container {
    max-height: 16vh;
    padding: 8px 12px;
    margin-top: 16px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#bitcoin-container::-webkit-scrollbar {
    display: none;
}
.ellipse-shortener {
    width: 69px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}