<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ request.url_for('static', path='style.css') }}">
</head>

<body>
    <section class="top-section">
        <canvas id="matrix-background" class="fullscreen-canvas"></canvas>
        <canvas id="grid-background" class="fullscreen-canvas"></canvas>
        <div class="column divider full-width">
            <div class="row">
                <div class="column three full-width" style="padding: 32px;">
                    <div class="frame dark">
                        <canvas class="canvas-frame"></canvas>
                        <div id="spinning-earth" class="text-center"></div>
                    </div>
                    <div class="frame">
                        <canvas class="canvas-frame"></canvas>
                        <div id="bitcoin-container">Hello World</div>
                    </div>
                </div>
                <div class="column three center">
                    <div class="frame profile-picture-frame">
                        <canvas class="canvas-frame"></canvas>
                        <!-- <img src="{{ request.url_for('static', path='pics/picture-of-me-scaled-down.png') }}" alt="Profile picture" width="260" height="260"> -->
                        <p>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣶⣿⣿⣿⣿⣿⣶⡀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⣿⣿⣿⣿⣿⣿⣿
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠆
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⣽⣿⣿⣿⣿⣿⣿⣿⡟⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⡿⠁
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣾⢻⣿⣿⣿⣿⣿⣿⡀
⠀⠀⠀⠀⢀⣠⣤⣴⣾⣿⣿⣿⠛⠀⠙⡿⠟⠋⠀⣿⣿⣦⣄⡀⠀⠀⠀⠀⠀⠀ 
⠀⠀⠀⣼⣿⣿⣿⣿⣿⣿⣿⡟⠀⣰⣿⣿⣆⠀⢰⣿⣿⣿⣿⣿⣷⣶⣄⡀⠀⠀
⠀⠀⢰⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⣰⣿⣷⠀⢠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⠀
⠀⢀⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢰⣿⣿⣿⠀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀
⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⣿⣿⣿⣿⣰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇</p>
                    </div>
                </div>
                <div class="column three">
                    <div class="framelist">
                        <div class="frame text-frame">
                            <canvas class="canvas-frame"></canvas>
                            <p>{{ t['name-label'] }}</p>
                        </div>
                        <div class="frame text-frame">
                            <canvas class="canvas-frame"></canvas>
                            <p>{{ t['age-label'] }}</p>
                        </div>
                        <div class="frame text-frame">
                            <canvas class="canvas-frame"></canvas>
                            <p>{{ t['cv-label'] }}</p>
                        </div>
                        <div class="frame text-frame">
                            <canvas class="canvas-frame"></canvas>
                            <p>{{ t['github-label'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="console">
                <div id="console-output">
                    <p>> Hello World</p>
                </div>
                <input type="text" id="console-textfield" name="console-textfield" value="" onkeydown="consoleEntry(this)">
            </div>
        </div>
    </section>
    <script src="{{ request.url_for('static', path='src/useful-methods.js') }}"></script>

    <script src="{{ request.url_for('static', path='src/classes/canvas.js') }}"></script>
    <script src="{{ request.url_for('static', path='src/hacker-background.js') }}"></script>

    <script src="{{ request.url_for('static', path='src/classes/frame.js') }}"></script>
    <script src="{{ request.url_for('static', path='src/frame.js') }}"></script>

    <script src="{{ request.url_for('static', path='src/bitcoin-reciever.js') }}"></script>
    
    <script src="{{ request.url_for('static', path='src/classes/message.js') }}"></script>
    <script src="{{ request.url_for('static', path='src/terminal-functions/basics.js') }}"></script>
    <script src="{{ request.url_for('static', path='src/terminal-functions/delay.js') }}"></script>
    <script src="{{ request.url_for('static', path='src/data/terminal-data.js') }}"></script>
    <script src="{{ request.url_for('static', path='src/classes/terminal.js') }}"></script>
    <script src="{{ request.url_for('static', path='src/console-manager.js') }}"></script>


    <script src="{{ request.url_for('static', path='src/data/matrix-earth-ascii.js') }}"></script>
    <script src="{{ request.url_for('static', path='src/matrix-earth.js') }}"></script>

    <script src="{{ request.url_for('static', path='src/window-size-manager.js') }}"></script>
</body>
</html>